:root {
    --dark-color: #202020;
    --soft-dark-color: #333533;
    --grey-color: #D6D6D6;
    --mustard-color: #FFD100;
    --yellow-color: #FFEE32;
    --white-color: white;
}

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hader-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.search-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background-color: var(--dark-color);
    width: 100%;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--mustard-color);
    border-bottom: 0px;
}

.query-search {
    width: 90%;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    color: var(--yellow-color);
    background-color: var(--soft-dark-color);
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

input[type="text"]:focus {
    outline: 1px solid var(--mustard-color);
}


.query-search::placeholder {
    color: var(--mustard-color);
}

.query-search:hover {
    border: 1px solid var(--mustard-color);
}

.add-pokemon {
    border: 0px;
    opacity: 0.6;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--dark-color);
    color: var(--mustard-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.add-pokemon:hover {
    opacity: 1;
    background-color: var(--soft-dark-color);
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);

    padding: 5px 100px 5px 100px;
}

.add-pokemon:active {
    translate: 0px 2px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

main>p {
    color: var(--soft-dark-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--soft-dark-color);

}

.filter-container {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
    position: sticky;
    top: 5px;

}

.types {
    z-index: 2;
    display: none;
    opacity: 0;
    position: relative;
    top: -50px;
    flex-wrap: wrap;
    justify-content: center;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;

}

.types>div,
.types-pokemon>div,
.new-pokemon-lef-bar>div {

    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    height: 32px;
    margin: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -webkit-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -moz-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -ms-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -o-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    box-shadow: 1px 1px 13px #34343493,
        -1px -1px 13px #75757599;

}

.types>div>img,
.types-pokemon>div>img,
.new-pokemon-lef-bar>div>img {

    margin-left: -8px;
    width: 40px;
    margin-right: 2px;
    outline: 1px solid black;
    outline-offset: -2px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

}

.types>div.active,
.new-pokemon-lef-bar>div:active {
    translate: 0px 2px;
    color: black;
    background-color: white;
}

.toggle-types {
    z-index: 5;
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    color: white;
    perspective: 1000px;
    background-color: var(--dark-color);
    width: 40%;
    height: 55px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

}

.toggle-types:hover {

    & p {
        border-bottom: 1px solid white;
    }
}

.toggle-types img {
    padding-bottom: 10px;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.toggle-types.active img {
    transform: rotateX(180deg);
    translate: 0px -10px;
}

.container-pokemon-cards {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    padding-top: 60px;
    padding-left: 12px;
    margin-top: -55px;
    width: 97%;
    height: 95vh;

    transition: opacity 0.2s ease-in-out;
}

.poke-img {
    position: relative;
    padding-top: 10px;
    width: 260px;

    height: auto;
    margin-bottom: -60px;
    transition: filter 0.3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.poke-img>img {
    width: 160px;

}

.pokemon-name {
    padding-top: 50px;
    color: white;
    font-size: 20px;
}

.poke-card {
    width: 260px;
    height: 140px;
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pokemon {
    margin: 40px;
    width: auto;
    height: fit-content;
    border-radius: 30px 30px 10px 10px;
    transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out, border 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out, border 0.3s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out, border 0.3s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out, border 0.3s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out, border 0.3s ease-in-out;
}

.pokemon:hover {
    border: 1.4px solid var(--mustard-color);
    translate: -2px -2px;
    box-shadow: 6px 6px 12px #5a5a5a, -6px -6px 12px #ffffff;

}


.pokemon-delete {
    color: white;
    border: 0px;
    float: right;
    width: 40px;
    height: 20px;
    margin-right: 5px;
    margin-left: -2555px;
    margin-top: -5px;
    border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    -o-border-radius: 0px 15px 0px 15px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.pokemon-delete:hover {
    background-color: rgb(217, 212, 255);
    border: 1px solid #1552e4;
}

.pokemon-delete:active {
    translate: 0px 2px;
}

.pokemon.deleted {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.types-pokemon {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-pokemon {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pokemon-info {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-measure {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: black;
}

.measure-value {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: 14px;
}

.measure {
    color: grey;
    margin: 0px;
}

.poke-stats {
    margin-top: -25px;

    & p {
        color: white;
    }

}

.graphic-stats {
    margin-left: 25px;

    display: grid;
    grid-template-columns: 12% 1fr;
    justify-content: center;
    align-items: center;

    & progress::-webkit-progress-bar {
        height: 15px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

}

.stats-name {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2px;
    margin: -5px;

    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}


progress {

    width: 90%;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--grey-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #a81e24;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




body:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: black;

}

body::-webkit-scrollbar-thumb {
    background-color: var(--mustard-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}





*:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: transparent;

}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.popup-container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: unset;
    z-index: 9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.popup-card {
    top: 25vh;
    /* opacity: 0; */
    transform: scale(0.7);
    width: 90%;
    height: 70vh;
    position: relative;
    z-index: 10;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.7s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    -moz-transition: all 0.7s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    -ms-transition: all 0.7s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    -o-transition: all 0.7s ease-in-out, opacity 0.2s ease-in-out, top 0.3s ease-in-out;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

.popup-card:hover {

    box-shadow: 11px 11px 22px #5a5656, -11px -11px 22px #ffffff;
    translate: -4px -4px;

    & .stats-total {
        filter: brightness(1.1);
        box-shadow: 11px 11px 22px #a4a4a4, -11px -11px 22px #ffffff46;
        -webkit-filter: brightness(1.2);
    }
}

.stats-total {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.popup-header {
    text-align: center;
    width: 100%;
    color: white;
    align-items: center;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px;
        float: LEFT;
        padding: 0px 10px 0px 10px;
        margin: 20px -20px -20px 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
    }

    & button:hover {
        color: black;
        background-color: white;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: -1px -1px 2px #bebebe,
            1px 1px 2px #ffffff;

    }

    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.popup-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-body {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
}


.info-pokemon-card {
    width: 230px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;


    & h2 {
        margin: 20px;
        font-size: 20px;
    }

    & p {
        margin: 0px;
        font-size: 15px;
    }

    & .ability {
        & p {
            font-size: 20px;
        }

        padding: 10px;
        margin-bottom: 20px;
        width: fit-content;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
    }

    transform: perspective(500px) rotatey(30deg);
    -webkit-transform: perspective(500px) rotatey(30deg);
    -moz-transform: perspective(500px) rotatey(30deg);
    -ms-transform: perspective(500px) rotatey(30deg);
    -o-transform: perspective(500px) rotatey(35deg);
}

.ability:hover {
    filter: brightness(1.2);
    translate: -2px -2px;
    box-shadow: 6px 6px 11px #535353c7, -6px -6px 11px #f4f4f4;

    -webkit-filter: brightness(1.2);
}

.card-poke-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-poke-types>div {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1px;
    height: 40px;
    margin-left: 15px;
    padding-right: -5px;


    & p {
        font-size: 2px;
        display: none;
    }


    & img {
        width: 50px;
    }

    border-radius: 100px;
    transition: all 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -moz-transition: all 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -ms-transition: all 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -o-transition: all 0.2s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.card-poke-types>div:hover {
    width: 130px;

    translate: -1px -1px;
    box-shadow: 6px 6px 11px #535353c7,
        -6px -6px 11px #f4f4f4;
    padding-right: 10px;

    & p {
        font-size: 16px;
        display: inline;
    }
}

.img-pokemon-card {
    text-align: center;
}

.img-pokemon-card>img {
    width: 60%;
}


.card-poke-stats {
    width: 20%;

    & h2 {
        text-align: center;
    }

    & p {
        color: black;
        font-size: 14px;
        margin-left: -10px;
        margin-bottom: 30px;
    }

    & span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 5px;
        color: black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    transform: perspective(500px) rotatey(-30deg);
    -webkit-transform: perspective(500px) rotatey(-30deg);
    -moz-transform: perspective(500px) rotatey(-30deg);
    -ms-transform: perspective(500px) rotatey(-30deg);
    -o-transform: perspective(500px) rotatey(-30deg);
}









.steel {
    background-color: #60766a;
}

.water {
    background-color: #1552e4;
}

.bug {
    background-color: #1c4a2b;
}

.dragon {
    background-color: #448b95;
}

.electric {
    color: black !important;
    background-color: #e4e42c;
}

.ghost {
    background-color: #32346d;
}

.fire {
    background-color: #a81e24;
}

.fairy {
    background-color: #961b45;
}

.ice {
    background-color: #89cff9;
}

.fighting {
    background-color: #983f24;
}

.normal {
    background-color: #76535c;
}

.grass {
    background-color: #127c3d;
}

.psychic {
    background-color: #a32c68;
}

.rock {
    background-color: #48180b;
}

.dark {
    background-color: #040704;
}

.ground {
    background-color: #a9722c;
}

.poison {
    background-color: #5f2e8a;
}

.flying {
    background-color: #4a677d;
}


.footer-links {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 45vh;
}

.link-cointainer {
    margin-top: -10px;
    width: 100%;
    height: 40vh;
    background-color: #ce1a1a;
}

.add-pokemon-container {
    opacity: 1;
    z-index: 12;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(217, 212, 255, 0);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.new-pokemon {
    opacity: 1;
    background-color: white;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 1fr 5%;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    box-shadow: 1px 1px 5px 5px rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.new-pokemon-lef-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 72vh;
    overflow: auto;
    float: left;

}




.creation-box {
    width: 70%;
    height: auto;
    padding: 40px 100px;
    grid-column-start: 2;
    display: flex;
    overflow: auto;
    box-shadow: 1px 1px 16px #aba9a9,
        -1px -1px 20px #ffffffaa;

    & input[type=text] {
        margin: 12px 15px;
        height: 25px;
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid var(--grey-color);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
    }

    & input[type=text]:hover {
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        translate: 0p 2p;

        box-shadow: 5px 5px 7px #d7d7d7aa, -5px -5px 9px #e9e9e9a4;

    }

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.poke-measures {
    display: flex;
    flex-direction: row;
}

.id-box {
    width: 80%;
    justify-content: center;
    text-align: center;
    height: auto;

    & p {
        text-align: start;
    }
}


.stats-box-new {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}


input[type="range"] {
    -webkit-appearance: none;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    height: 21px;
    background-color: var(--grey-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* Estilizar el control deslizante del rango */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--yellow-color);
    cursor: pointer;
    border-radius: 5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
    -o-border-radius: 5;
}

/* Cambiar el color del control deslizante cuando se mueve */
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--soft-dark-color);
}


.close-creation-box {
margin: -20px 0px;
width: 50px;
height: 50px;

    & .close-button-creation {
        text-align: center;
        transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
        -moz-transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
        -ms-transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
        -o-transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    & .close-button-creation:hover {
        background-color: var(--soft-dark-color);
        color: white;
    }

    & .close-button-creation:active {
        background-color: var(--dark-color);
        color: black;
        translate: 0px 4px;
    }
}

@media (width<400px) {
    .toggle-types {
        & p {
            display: none;
        }

        padding-bottom: 0px;
        height: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .container-pokemon-cards {
        margin-top: -100px;
        scale: 0.7;
    }

    .info-pokemon-card {
        transform: perspective(500px) rotateX(0deg);
        -webkit-transform: perspective(500px) rotateX(0deg);
        -moz-transform: perspective(500px) rotateX(0deg);
        -ms-transform: perspective(500px) rotateX(0deg);
        -o-transform: perspective(500px) rotateX(0deg);
    }

    .card-poke-stats {
        transform: perspective(500px) rotateX(0deg);
        -webkit-transform: perspective(500px) rotateX(0deg);
        -moz-transform: perspective(500px) rotateX(0deg);
        -ms-transform: perspective(500px) rotateX(0deg);
        -o-transform: perspective(500px) rotateX(0deg);
    }

    .new-pokemon-lef-bar {
        justify-content: center;
        align-items: center;
    }

    .new-pokemon-lef-bar>div {

        padding: 0px;

        & p {
            display: none;
        }
    }

}



@media (width<900px) {

    .creation-box {
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        flex-direction: column;
        overflow: scroll;
    }

    .id-box {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;

        & p {
            text-align: start;
        }

        & input {
            width: 80%;
        }
    }

    .stats-box {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;

        & p {
            text-align: start;
        }

        & input {
            width: 90%;
        }
    }
}

@media (width<800px) {
    .popup-body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        overflow: scroll;

    }

    .popup-body::-webkit-scrollbar {
        height: 0px;
    }

    .img-pokemon-card {
        width: 100%;
    }

    .card-poke-stats {
        width: 100%;

    }

    .info-pokemon-card {
        width: 100%;
        transform: perspective(500px) rotateX(0deg);

    }

    .card-poke-stats {
        transform: perspective(500px) rotateX(0deg);
        ;
        -webkit-transform: perspective(500px) rotateX(0deg);
        -moz-transform: perspective(500px) rotateX(0deg);
        -ms-transform: perspective(500px) rotateX(0deg);
        -o-transform: perspective(500px) rotateX(0deg);
    }



}