:root {
    --dark-color: #202020;
    --soft-dark-color: #333533;
    --grey-color: #D6D6D6;
    --mustard-color: #FFD100;
    --yellow-color: #FFEE32;
    --white-color: white;
}

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hader-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.search-container {
    background-color: var(--dark-color);
    width: 99%;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--mustard-color);
    border-bottom: 0px;
}

.query-search {
    width: 90%;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    color: var(--yellow-color);
    background-color: var(--soft-dark-color);
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

input[type="text"]:focus {
    outline: 1px solid var(--mustard-color);
}


.query-search::placeholder {
    color: var(--mustard-color);
}

.query-search:hover {
    border: 1px solid var(--mustard-color);
}


main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

main>p {
    color: var(--soft-dark-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--soft-dark-color);

}

.filter-container {
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
    position: sticky;
    top: 5px;
}

.types {
    display: none;
    opacity: 0;
    position: relative;
    top: -50px;
    flex-wrap: wrap;
    justify-content: center;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.types>div,
.types-pokemon>div {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    height: 32px;
    margin: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -webkit-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -moz-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -ms-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -o-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    box-shadow: 1px 1px 13px #34343493,
        -1px -1px 13px #75757599;

}

.types>div>img,
.types-pokemon>div>img {

    margin-left: -8px;
    width: 40px;
    margin-right: 2px;
    outline: 1px solid black;
    outline-offset: -2px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

}

.types>div.active {
    translate: 0px 2px;
    color: black;
    background-color: white;
}

.toggle-types {
    z-index: 5;
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    color: white;
    perspective: 1000px;
    background-color: var(--dark-color);
    width: 40%;
    height: 55px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

}

.toggle-types:hover {

    & p {
        border-bottom: 1px solid white;
    }
}

.toggle-types img {
    padding-bottom: 10px;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.toggle-types.active img {
    transform: rotateX(180deg);
    translate: 0px -10px;
}

.container-pokemon-cards {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    padding-top: 60px;
    padding-left: 12px;
    margin-top: -55px;
    width: 97%;
    height: 95vh;

    transition: opacity 0.2s ease-in-out;
}

.poke-img {
    position: relative;
    width: 260px;

    height: auto;
    margin-bottom: -60px;
    transition: filter 0.3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.poke-img>img {
    width: 160px;

}

.pokemon-name {
    padding-top: 50px;
    color: white;
    font-size: 20px;
}

.poke-card {
    width: 260px;
    height: 350px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
}

.pokemon {
    margin: 40px;
    width: auto;
    height: fit-content;
    border-radius: 30px 30px 10px 10px;
    transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out, translate 0.2s ease-in-out;
}

.pokemon:hover {
    translate: -2px -2px;
    box-shadow: 6px 6px 12px #5a5a5a, -6px -6px 12px #ffffff;

}

.pokemon:active {}

.types-pokemon {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-pokemon {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pokemon-info {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-measure {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: black;
}

.measure-value {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: 14px;
}

.measure {
    color: grey;
    margin: 0px;
}

.poke-stats {
    margin-top: -25px;

    & p {
        color: white;
    }

}

.graphic-stats {
    margin-left: 25px;
    display: grid;
    grid-template-columns: 12% 1fr;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.stats-name {
    margin: 2.5px;
    color: white;
    font-size: 12px;
}


progress {

    width: 90%;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--grey-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #a81e24;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




body:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: black;

}

body::-webkit-scrollbar-thumb {
    background-color: var(--mustard-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}





.container-pokemon-cards:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.container-pokemon-cards::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: transparent;

}

.container-pokemon-cards::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.popup-container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.299);
    backdrop-filter: blur(15px);
    z-index: 9;

}

.popup-card {
    width: 400px;
    height: 400px;
    background-color: red;
    position: relative;
    z-index: 10;
}







.steel {
    background-color: #60766a;
}

.water {
    background-color: #1552e4;
}

.bug {
    background-color: #1c4a2b;
}

.dragon {
    background-color: #448b95;
}

.electric {
    color: black !important;
    background-color: #e4e42c;
}

.ghost {
    background-color: #32346d;
}

.fire {
    background-color: #a81e24;
}

.fairy {
    background-color: #961b45;
}

.ice {
    background-color: #89cff9;
}

.fighting {
    background-color: #983f24;
}

.normal {
    background-color: #76535c;
}

.grass {
    background-color: #127c3d;
}

.psychic {
    background-color: #a32c68;
}

.rock {
    background-color: #48180b;
}

.dark {
    background-color: #040704;
}

.ground {
    background-color: #a9722c;
}

.poison {
    background-color: #5f2e8a;
}

.flying {
    background-color: #4a677d;
}


@media (width<380px) {
    .toggle-types {
        & p {
            display: none;
        }

        padding-bottom: 0px;
        height: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .container-pokemon-cards {
        margin-top: -100px;
        scale: 0.7;
    }
}