:root {
    --dark-color: #202020;
    --soft-dark-color: #333533;
    --grey-color: #D6D6D6;
    --mustard-color: #FFD100;
    --yellow-color: #FFEE32;
    --white-color: white;
}

* {
    font-family: Arial,
        Helvetica,
        sans-serif;
}

body {
    margin: 0px;
    background-color: var(--soft-dark-color);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hader-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.search-container {
    background-color: var(--dark-color);
    width: 90%;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--mustard-color);
}

.query-search {
    font-size: 14px;
    padding: 4px;
    color: var(--yellow-color);
    background-color: var(--soft-dark-color);
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

input[type="text"]:focus {
    outline: 1px solid var(--mustard-color);
}


.query-search::placeholder {
    color: var(--mustard-color);
}

.query-search:hover {
    border: 1px solid var(--mustard-color);
}


main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main>p {
    color: var(--white-color);
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
}

.types {
    display: none;
    opacity: 0;
    position: relative;
    top: -50px;
    flex-wrap: wrap;
    justify-content: center;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.types>div {
    background-color: rgb(216, 190, 190);
    width: 70px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.toggle-types {
    perspective: 1000px;
    border: 0px;
    background-color: var(--grey-color);
    width: 40%;
    height: 30px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.toggle-types img {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease-in-out;
}

.toggle-types.active img {
    transform: rotateX(180deg);
}




::-webkit-scrollbar {
    width: 20px;
    height: 0px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #917910ef;
    -webkit-border-radius: 3px;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: #ffde49;
    -webkit-box-shadow: inset 0 0 6px rgba(53, 54, 12, 0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}






@media (width<280px) {}