:root {
    --dark-color: #202020;
    --soft-dark-color: #333533;
    --grey-color: #D6D6D6;
    --mustard-color: #FFD100;
    --yellow-color: #FFEE32;
    --white-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: var();
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.hader-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.search-container {
    background-color: var(--dark-color);
    width: 99%;
    padding: 30px 0px 30px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--mustard-color);
    border-bottom: 0px;
}

.query-search {
    font-size: 14px;
    padding: 4px;
    color: var(--yellow-color);
    background-color: var(--soft-dark-color);
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

input[type="text"]:focus {
    outline: 1px solid var(--mustard-color);
}


.query-search::placeholder {
    color: var(--mustard-color);
}

.query-search:hover {
    border: 1px solid var(--mustard-color);
}


main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

main>p {
    color: var(--soft-dark-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--soft-dark-color);

}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
}

.types {
    display: none;
    opacity: 0;
    position: relative;
    top: -50px;
    flex-wrap: wrap;
    justify-content: center;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.types>div,
.types-pokemon>div {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    height: 32px;
    margin: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -webkit-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -moz-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -ms-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
    -o-transition: translate 0.5s ease-in-out, background-color 0.2s ease-in;
}

.types>div>img,
.types-pokemon>div>img {
    margin-left: -8px;
    width: 40px;
    margin-right: 2px;
    outline: 1px solid black;
    outline-offset: -2px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}



.types>div.active {
    translate: 0px 5px;
    color: black;
    background-color: white;
}


.toggle-types {
    display: flex;
    flex-direction: column;
    color: white;
    perspective: 1000px;
    background-color: var(--dark-color);
    width: 40%;
    height: 55px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;


}

.toggle-types:hover {

    & p {
        border-bottom: 1px solid white;
    }
}

.toggle-types img {
    padding-bottom: 10px;
    width: 20px;
    height: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.toggle-types.active img {
    transform: rotateX(180deg);
    translate: 0px -10px;
}

.container-pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    padding-top: 60px;
    width: 100%;
    height: 100vh;
    background-color: red;
}


.poke-card {
    width: 320px;
    height: 300px;
    background-color: black;
}

.types-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-pokemon {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pokemon-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-measure {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: black;
}

.measure-value{
color: var(--white-color);
font-size: 22px;
}

.measure{
    color: grey;
}



.acero {
    background-color: #60766a;
}

.agua {
    background-color: #1552e4;
}

.bicho {
    background-color: #1c4a2b;
}

.dragon {
    background-color: #448b95;
}

.electrico {
    color: black !important;
    background-color: #e4e42c;
}

.fantasma {
    background-color: #32346d;
}

.fuego {
    background-color: #a81e24;
}

.hada {
    background-color: #961b45;
}

.hielo {
    background-color: #89cff9;
}

.lucha {
    background-color: #983f24;
}

.normal {
    background-color: #76535c;
}

.planta {
    background-color: #127c3d;
}

.psiquico {
    background-color: #a32c68;
}

.roca {
    background-color: #48180b;
}

.siniestro {
    background-color: #040704;
}

.tierra {
    background-color: #a9722c;
}

.veneno {
    background-color: #5f2e8a;
}

.volador {
    background-color: #4a677d;
}






@media (width<280px) {
    .toggle-types {
        & p {
            display: none;
        }

        padding-bottom: 0px;
        height: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}