body {
    width: 100%;
    height: 100%;
    margin: 0px;

}

.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.leftContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.rightContent {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: auto;
}


.buttonGroupLeft>button {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.buttonGroupRight>button {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content {
    margin: 20px;
    width: 90%;
}


.sleepContent {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgb(137, 255, 255);
}

.eatContent {
    background-color: greenyellow;
}

.fightContent {
    display: flex;
    justify-content: end;
    background-color: rgb(255, 120, 120);
}

.playContainer {
    background-color: rgb(255, 255, 134);
}


progress {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: rgb(70, 255, 3);
    border: 5px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

progress[data-step="100"]::-webkit-progress-value {
    background: greenyellow
}

progress[data-step="60"]::-webkit-progress-value {
    background-color: yellow;
}

progress[data-step="30"]::-webkit-progress-value {
    background-color: red;
}


[class*=progress-level] {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

[class*=content-type-top] {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-left: 50px;
}

[class*=content-type-bot] {
    margin-bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    margin-left: 50px;
}

.sleep-content-type-bot {
    margin-right: 100px;
    text-align: end;
}

.play-content-type-top {
    margin-right: 100px;
    text-align: end;
}

.tamagochi {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


button>img {
    width: 23px;
}

button:active {
    background-color: rgba(255, 255, 255, 0.548);
    translate: 0px 2px;
    scale: 0.85;
}

.heart-box {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.632);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.heart-box>img {
    width: 20px;
}