@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');

:root {
    --backgroundColor-slider: rgba(37, 45, 69, 255);
    --thumb-color: rgba(212, 61, 51, 255);

    --theme-button-del-color: rgba(162, 179, 225, 255);
    --theme-button-active-color: rgba(255, 255, 255, 255);
    --theme-button-equals-active-color: rgba(249, 108, 91, 255);
}


* {
    transition: background-color 0.5s ease;

    & button {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
}


body {
    margin: 0px;
    background-color: rgb(92, 92, 154);
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculadora {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 400PX;
    height: 85vh;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.calculadora-content {
    margin: 20px;
    width: 100%;
    height: 90%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.calc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;


    & .p-calc-head {
        color: white;
        font-size: 22px;
        font-family: 'Hind', sans-serif;
    }

    & .theme {
        width: 40%;
        height: auto;


        & input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 23px;
            background-color: var(--backgroundColor-slider);
            outline: none;
            border-radius: 100px;
        }


        & input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 23px;
            height: 23px;
            background-color: var(--thumb-color);
            border: 2.5px solid var(--backgroundColor-slider);
            border-radius: 50%;
            cursor: pointer;
        }
    }

    & .theme-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4px;
        margin: 7px;

        & p {
            font-size: 12px;
        }
    }


}

.calc-result {
    display: flex;
    justify-content: center;
    background-color: rgba(24, 31, 50, 255);
    width: 100%;
    height: 16%;
    margin-bottom: 7%;
    border-radius: 10px;

    & .operation-result {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 48px;
        color: white;
        font-family: 'Hind', sans-serif;
        width: 90%;
        height: 100%;
    }
}

.calc-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 45, 68, 255);
    border-radius: 10px;
    width: 100%;
    height: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.p-theme {
    color: white;
    font-family: 'Hind', sans-serif;
    text-align: end;
    width: 100%;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 10px;
}

button {
    color: rgba(77, 78, 83, 255);
    font-family: 'Hind', sans-serif;
    font-size: 25px;
    background-color: rgba(234, 227, 219, 255);
    width: 60px;
    height: 65px;
    margin: 5px;
    border: 0px solid;
    border-bottom: 5px solid rgba(179, 163, 151, 255);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.special-button-del {
    color: white;
    background-color: rgba(101, 114, 151, 255);
    border-bottom: 5px solid rgba(65, 79, 118, 255);

}

.special-button-reset {
    color: white;
    width: 97%;
    background-color: rgba(101, 114, 151, 255);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    border-bottom: 5px solid rgba(65, 79, 118, 255);
}

.special-button-equals {
    color: white;
    width: 97%;
    background-color: rgba(209, 63, 48, 255);
    border-bottom: 5px solid rgba(145, 39, 32, 255);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button:active {
    translate: 0px 2px;
    background-color: var(--theme-button-active-color);
}

.special-button-del:active {
    background-color: var(--theme-button-del-color);
}

.special-button-reset:active {
    background-color: var(--theme-button-del-color);
}

.special-button-equals:active {
    background-color: var(--theme-button-equals-active-color);
}


@media (width<750px) {



    .calculadora {
        margin-top: 70px;
        margin-bottom: 10px;
    }

    .calculadora-content {
        width: 300px;
        height: 600px;
    }

    .calc-head {
        width: 300px;
    }

    .calc-result {
        width: 300px;
        height: 15%;
    }

    .calc-buttons {
        width: 300px;
        height: auto;
    }

    .button-group {
        margin: 20px;
    }

    .special-button-reset {
        width: 94%;
    }

    .special-button-equals {
        width: 94%;
    }

}

@media (width>750px) {


    .calc-buttons {
        width: 500px;
        height: auto;
    }

    .calculadora-content {
        width: 500px;
    }

    button {
        height: 89%;
        width: 110px;
    }

    .special-button-reset {
        width: 97%;
    }

    .special-button-equals {
        width: 97%;
    }


}